* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	max-width: 80%;
	margin: auto;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px;
	position: relative;
}

h3 {
	font-size: 64px;
}

h4 {
	font-size: 30px;
}

p {
	font-size: 18px;
}

ul {
	display: flex;
	list-style-type: none;
	gap: 30px;
}

.header-container img {
	width: 250px;
}

.menu {
	display: none;
	position: absolute;
	top: 39px;
	right: 15px;
	font-size: 24px;
	cursor: pointer;
}

.hero-container {
	background-color: #495e57;
	padding: 15px;
	padding-right: 0px;
}

.hero-container img {
	border-radius: 10px;
}

.hero-container h3 {
	color: #c3a510;
	margin-top: 15px;
}

.hero-container h4,
.hero-container p {
	color: #edefee;
	margin-top: 15px;
}

.hero-flex {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.reserve-button {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	background-color: #f4ce14;
	padding: 10px;
	border-radius: 10px;
	font-weight: bolder;
}

.specials-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.olo-menu-btn {
	margin-top: 15px;
	margin-bottom: 15px;
	border: none;
	background-color: #f4ce14;
	padding: 10px;
	border-radius: 10px;
	font-weight: bolder;
}

.specials-card-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	/* grid-auto-columns: minmax(1fr, auto); */
	gap: 30px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.title-price-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.title-price-flex h2,
.title-price-flex p {
	margin-top: 15px;
	margin-bottom: 15px;
}

.card p {
	margin-bottom: 15px;
}

.card > img {
	width: 100%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.card {
	background-color: #edefee;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.price {
	color: orange;
}

.card-wrapper {
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.delivery {
	border: none;
}

footer {
	background-color: #495e57;
	color: #c3a510;
	text-align: center;
	padding: 15px;
	margin-top: auto;
}

main {
	flex: 1;
}

footer h3 {
	font-size: medium;
}

@media (max-width: 1100px) {
	.menu {
		display: block;
	}
	.header-container {
		flex-direction: column;
		align-items: start;
	}

	.header-container ul {
		display: none;
		flex-direction: column;
		gap: 5px;
		width: 100%;
		margin-top: 15px;
		background-color: #495e57;
		border-radius: 15px;
	}

	.wrapper .header-container .is-open {
		display: flex;
	}

	.header-container ul li {
		color: #edefee;
		width: 100%;
		text-align: center;
		border-radius: 15px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-weight: bolder;
		cursor: pointer;
	}

	.header-container ul li:hover {
		background-color: #f4ce14;
		color: black;
		transition: 300ms;
	}
}

@media (max-width: 900px) {
	.img-container img {
		width: 200px;
	}
	h3 {
		font-size: 50px;
	}
	.specials-card-grid {
		grid-template-columns: 1fr;
	}

	.hero-flex {
		flex-wrap: wrap;
		padding-right: 15px;
	}
	.hero-flex img {
		width: 100%;
	}

	.specials-flex {
		padding-left: 15px;
		padding-right: 15px;
	}

	.specials-flex h3 {
		font-size: 36px;
	}

	.specials-card-grid {
		padding-left: 15px;
		padding-right: 15px;
	}
}

@media (max-width: 400px) {
	.wrapper {
		max-width: 100%;
		margin: 0;
	}

	.hero-flex img {
		width: 100%;
	}
}
